/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    background-color: #47bf53;
    color: white;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.activePlayer {
    display: none;
}

.playerOneLabel {
    text-align: right;
    font-size: 24px;
}

.playerTwoLabel {
    text-align: left;
    font-size: 24px;
}
.playerOne{
    background-color:yellow;
    font-size:24px;
    color:black;
    width:150px;
}

.playerTwo {
    background-color: gray;
    font-size: 24px;
    color: black;
    width: 150px;
}
.leftScoreNum {
    font-size: 48px;
    border: 1px solid #030200;
    width: 150px;
    text-align:center;
    background-color: inherit;
    color: inherit;
}

.rightScoreNum {
    font-size: 48px;
    border: 1px solid #030200;
    width: 150px;
    text-align: center;
    background-color: inherit;
    color: inherit;
}
.leftMark {
    font-size: 48px;
    font-weight: bold;
    text-align: right;
    vertical-align: middle;
    width: 75px;
    border: none;
    background-color: inherit;
    color: inherit;
}
.rightMark {
    font-size: 48px;
    font-weight: bold;
    text-align: left;
    vertical-align: middle;
    width: 75px;
    border: none;
    background-color: inherit;
    color: inherit;
}

.scoreButton {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.scoreHeader {
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.actionButton {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
